* {
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #262626;
    color: white;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* Navigatiebalk */
header {
    z-index: 100;
    position: fixed;
    top:0;
    display: flex;
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.90);
}

.header_logo {
    margin: 13px 0 0 10px;
}

nav {
    width: 100%;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.list a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 0 25px;
    height: 75px;
    line-height: 75px;
    font-size: 1.2em;
    transition: all 250ms;
    font-weight: 500;
}

.list li {
    float: left;
}

.list li a:hover {
    background-color: orangered;
    color: white;
}

.geselecteerd_item a { 
    color: orangered;
}

/* Flexbox: plaatje en tekst naast elkaar. */
.flex_container1 {
    max-width: 100%;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 75px;
}

.flexbox1{
    width: fit-content;
    height: 200px;
}

.image {
    width: 200px;
    height: 200px;
}

h1{
    font-size: 5em;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

p{
    font-size: 1.1em;
    font-weight: lighter;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
}

/* Gifje met achtergrond, uitleg tekst eronder. */
.banner {
    background-color: #262626;
    text-align: left;
}

.explanation_text {
    font-style: italic;
    font-size: 25px;
    text-align: left;
    margin-left: 25px;
    margin-top: 50px;
}

/* Lopende tekst van quote animatie. */

.line1 {
    color: white;
    text-align: left;
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    animation: text 5s ease 1;
    margin-left: 25px;
    align-items: center;
    padding-top: 125px;
}

.line {
    color: white;
    text-align: left;
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    animation: text 5s ease 1;
    margin-left: 25px;
    align-items: center;
}

@keyframes text {
    0% {
      opacity: 0;
      transform: translateX(1500px);
    }
    50% {
      opacity: 1;
      transform: translateX(-20px);
    }
    75% {
      transform: translateX(50px);
    }
    100%{
      transform: translateX(0);
    }
}

.description {
    text-align: center;
    font-size: 1.30em;
    text-decoration: none;
    color: white; 
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: lighter;
}

.description:hover {
    color: orangered;
}

.flex_container2 {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flexbox2 {
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
}

/* Animatie hover selectie opties */
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 150px;
    transition: 1s box-shadow;
  }

.image {
     width: 200px; 
}
  
.icon:hover::before {
    z-index: -1;
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: orangered;
    border-radius: 150px;
    animation: 1s clockwise infinite;
}

.icon:hover {
    box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.25);
}

@keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -5px;
      left: 5px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 5px;
      left: 5px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 5px;
      left: -5px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -5px;
      left: -5px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
}

.image_train {
    text-align: right;
    height: 5vh;
}

.image_train:first-child {
    position: relative;
    width: auto;
    animation: train 45s linear infinite;
}

@keyframes train{
    0% {
        left: 100%;
    }
    
    100% {
       left: -200%;
    }
}

.italic {
    font-style: italic;
}

.illustration {
    width: 40vw;
}

.artwork {
    width: 55vw;
}

.background-image {
    background: url(nike_logo_picture.jpg) no-repeat center;
    background-size: cover;
    height: 1150px;
    position: relative;
    margin: 0; 
    padding: 0;
}

.overlay_video a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.3em;
    font-weight: 400;
    position: absolute;
    text-decoration: none;
    right: 75px;
    bottom: 100px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 150px;
    width: 175px;
    text-align: center;
}

.overlay_video {
    animation: bounce 1s ease-in-out infinite;
    animation-delay: 3s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

.overlay_video:hover a {
    font-size: 1.4em;
    transition: smooth;
    background-color: rgba(255, 255, 255, 0.75);
}

video {
    margin-top: 75px;
}

.overlay_image a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.3em;
    font-weight: 400;
    position: absolute;
    text-decoration: none;
    right: 75px;
    bottom: 275px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 150px;
    width: 175px;
    text-align: center;
}

.overlay_image {
    animation: bounce 1s ease-in-out infinite;
    animation-delay: 3s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

.flex_container_banner {
    max-width: 100%;
    height: 330px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
}

.quote_nike {
    margin-top: 200px;
    animation: bounce-in 10s ease infinite;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translateX(1500px);
  }
  15% {
    opacity: 1;
    transform: translateX(-50px);
  }
  30% {
    transform: translateX(50px);
  }
  45%{
    transform: translateX(0);
  }
  60%{
    transform: translateX(50px);
  }
  75% {
    transform: translateX(0);
  }
  100% {
    opacity: 0.5;
    transform: translateX(1500px);
  }
}

.table_brandactivism {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 97vw;
    color: #262626;
    background-color: white;
    font-size: 1.30em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 25px;
    border-radius: 10px;
}
  
.table_brandactivism td, th {
    text-align: left;
    padding: 5px;
}
  
.top_row{
  font-size: 100px;
  font-weight: 700;
}

.head {
    margin-left: 25px;
}

.image_kaepernick {
    width: 40vw;
}

.banner_image {
    width: 100%;
    margin: 25px;
}

.image_mj {
    width: 40vw;
    margin-right: 25px;
    margin-left: 25px;
}

.table_image {
    width: 20vw;
    background-color: white;
}

.table_history {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 97vw;
    margin: auto;
    color: #262626;
    background-color: white;
    font-size: 1.30em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px;
}
  
.table_history td, th {
    text-align: center;
    padding: 5px;
}